@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url("/images/cover.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
